.App {
    text-align: center;
     }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(77, 74, 73);
    color: white;
  }
  
  .nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none ;
  }
  .Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(77,74,73);
    color: white;
    text-align: center;
  }
  .card {
    align-items: baseline;
    margin: 10px;
    float: left;
    display: table;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(31, 168, 168, 0.863);
    transition: 0.3s;
    width: 15%;
    background-color: rgb(158, 152, 149);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    align-items: baseline;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  