
@{
    ViewData["Title"] = "About";
}
<br />
<h1>About Us</h1>
<p>This page includes detail of our site's About page. Feel Free to Contact Us</p
<br /><br />
<p>
    Laptop Bazar <br />
    404 Techno Mall, Opp, HDFC Bank<br />
    Mahavir Circle<br />
    City : Mumbai<br />
    State : Maharshtra<br />
    Pin: 400067<br />
    Country : India<br />
    Mobile : +91-94880-XXXXX | Landline : 0683-XXXXXXX
</p>

