@{
    ViewData["Title"] = "Home Page";
}
<br />
<table>
    <thead>
        <tr class="table-primary">
            <th>
                <h3 class="text-danger font-monospac">Laptop Bazar</h3>
            </th>
            <th>
            </th>
        </tr>
     </thead>
     <tbody>
         <tr>
             <td width="50%">
                <p class="font-monospace">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ve, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ate esse cillum dolore eu fugiat nulla pariatur. Nam libero tempore, cum teh soluta nobis est eligendi optio cumque nihil impedit quo minus. Jhaw de Excepteur sint occaecat the cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </td>
            <td width="50%">
                <div class="text-center">
                    <a class="btn btn-warning" style="width:100px;height:50px; font-size:20px" asp-area="" asp-controller="Account" asp-action="Login"><i class="bi bi-box-arrow-in-right"></i>&nbsp;Login</a>
                    <a class="btn btn-danger" style="width:100px;height:50px; font-size:20px" asp-area="" asp-controller="Account" asp-action="SignUp">Register</a>
                </div>
            </td>
         </tr>
         <tr>
             <td>
                <h3 class="text-danger font-monospac">India's #1 Latop Ecommerce Platform'</h3>
             </td>
             <td>
                <p class="font-monospace">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. </p>
             </td>
         </tr>
     </tbody>
</table>
<br />
<span class="badge bg-primary font-monospace mb-1" style="width:210px; font-size:15px">MacBook</span>
<span class="badge bg-secondary font-monospace mb-1" style="width:210px; font-size:15px">Dell</span>
<span class="badge bg-success font-monospace mb-1" style="width:210px; font-size:15px">HP</span>
<span class="badge bg-danger font-monospace mb-1" style="width:210px; font-size:15px">Razor</span>
<span class="badge bg-warning font-monospace mb-1" style="width:210px; font-size:15px">Asus</span>
<span class="badge bg-info font-monospace mb-1" style="width:210px; font-size:15px">LG</span>
<span class="badge bg-light font-monospace mb-1" style="width:210px; font-size:15px">VivoBook</span>
<span class="badge bg-dark font-monospace mb-1" style="width:210px; font-size:15px">Zen</span>
<span class="badge bg-primary font-monospace mb-1" style="width:210px; font-size:15px">HP Elite</span>
<span class="badge bg-secondary font-monospace mb-1" style="width:210px; font-size:15px">ROG</span>
<span class="badge bg-success font-monospace mb-1" style="width:210px; font-size:15px">Vivo</span>
<span class="badge bg-danger font-monospace mb-1" style="width:210px ; font-size:15px">Acer</span>
<span class="badge bg-warning font-monospace mb-1" style="width:210px; font-size:15px">Lenevo</span>
<span class="badge bg-info font-monospace mb-1" style="width:210px ; font-size:15px">Viao</span>
<span class="badge bg-info font-monospace mb-1" style="width:210px; font-size:15px">Pavillion</span>
<span class="badge bg-info font-monospace mb-1" style="width:210px; font-size:15px">Samsung</span>
<span class="badge bg-light font-monospace mb-1" style="width:210px; font-size:15px">Dell XPS</span>
<span class="badge bg-dark font-monospace mb-1" style="width:210px; font-size:15px">Mac M1</span>